{
  "extends": ["react-app", "plugin:jsx-a11y/recommended", "google"],
  "plugins": ["jsx-a11y"],
  "rules": {
    "indent": ["error", 2],
    "require-jsdoc": ["error", {
      "require": {
        "FunctionDeclaration": false,
        "MethodDefinition": false,
        "ClassDeclaration": false,
        "ArrowFunctionExpression": false,
        "FunctionExpression": false
      }
    }]
  }
}
