default: &default
  adapter: mysql2
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: mercury_dev
  username: name - CHANGE
  password: pass _ CHANGE
test:
  <<: *default
  database: mercury_test

production:
  <<: *default
  database: mercury_prod
