.signin-page .auth-body, .signup-page .auth-body {
  position: absolute;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
  background-image: url(https://images.wallpaperscraft.com/image/imac_apple_computer_table_cup_notebook_109176_1920x1080.jpg);
  background-size: cover;
  -webkit-filter: blur(5px);
  z-index: 0; }

.signin-page .grad, .signup-page .grad {
  position: absolute;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.65)));
  /* Chrome,Safari4+ */
  z-index: 1;
  opacity: 0.7; }

.signin-page .header, .signup-page .header {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 255px);
  z-index: 2; }

.signin-page .header div, .signup-page .header div {
  float: left;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 35px;
  font-weight: 200; }

.signin-page .header div span, .signup-page .header div span {
  color: #f00 !important; }

.signin-page .login, .signup-page .login {
  position: absolute;
  top: calc(50% - 85px);
  left: calc(50% - 10px);
  height: auto;
  width: 650px;
  padding: 10px;
  z-index: 2; }
  .signin-page .login input, .signin-page .login btn, .signup-page .login input, .signup-page .login btn {
    margin: 10px 0; }
  .signin-page .login input[type=text], .signup-page .login input[type=text] {
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px; }
    .signin-page .login input[type=text]:focus, .signup-page .login input[type=text]:focus {
      outline: none;
      border: 1px solid rgba(255, 255, 255, 0.9); }
  .signin-page .login input[type=password], .signup-page .login input[type=password] {
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px; }
    .signin-page .login input[type=password]:focus, .signup-page .login input[type=password]:focus {
      outline: none;
      border: 1px solid rgba(255, 255, 255, 0.9); }
  .signin-page .login button, .signup-page .login button {
    width: 250px;
    height: 45px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px; }
    .signin-page .login button:hover, .signup-page .login button:hover {
      opacity: 0.8; }
    .signin-page .login button:active, .signup-page .login button:active {
      opacity: 0.6; }
    .signin-page .login button:focus, .signup-page .login button:focus {
      outline: none; }

.signin-page ::-webkit-input-placeholder, .signup-page ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6); }

.signin-page ::-moz-input-placeholder, .signup-page ::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.6); }

.signin-page .error, .signup-page .error {
  font-size: 14px;
  color: #f00; }

a {
  cursor: pointer; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eff3f6;
  font-family: Arial;
  font-size: 12px; }
